/* Webfont: Ecrises-Regular */@font-face {
    font-family: 'Ecrises';
    src: url('Ecrises.eot'); /* IE9 Compat Modes */
    src: url('Ecrises.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Ecrises.woff') format('woff'), /* Modern Browsers */
         url('Ecrises.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

